<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Test App2</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>test_app2</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>&lt;key>NSMicrophoneUsageDescription&lt;/key> &lt;string>UniPick may access the microphone when capturing media.&lt;/string></string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>&lt;key>NSLocationWhenInUseUsageDescription&lt;/key> &lt;string>UniPick uses your location to show nearby campus vendors.&lt;/string></string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>&lt;key>NSPhotoLibraryUsageDescription&lt;/key> &lt;string>UniPick needs access to your photo library to let you upload images.&lt;/string></string>
		<key>NSCameraUsageDescription</key>
		<string>&lt;key>NSCameraUsageDescription&lt;/key> &lt;string>UniPick may access the camera to let users upload images for profiles or support purposes.&lt;/string></string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.479405296471-gd2c78i4i6mlt85ebpm9d2cl1hu2i17t</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>GIDClientID</key>
		<string>479405296471-gd2c78i4i6mlt85ebpm9d2cl1hu2i17t.apps.googleusercontent.com</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
		</array>
		<key>UIStatusBarHidden</key>
		<false/>
	</dict>
</plist>
