<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>primaryColorHex</key>
	<string>#7A1E2C</string>
	<key>secondaryColorHex</key>
	<string>#9B3D4A</string>
	<key>tertiaryColorHex</key>
	<string>#E8D4D7</string>
	<key>headerColorHex</key>
	<string>#7A1E2C</string>
</dict>
</plist>
