<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479405296471-gd2c78i4i6mlt85ebpm9d2cl1hu2i17t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479405296471-gd2c78i4i6mlt85ebpm9d2cl1hu2i17t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>479405296471-ovnuscjcrgvde8qjhmjkgarn3roi8i2k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAi64QpRJrUSgThoQGrmIXc4b9KyfGPxqY</string>
	<key>GCM_SENDER_ID</key>
	<string>479405296471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibrahimashraf.unipick4</string>
	<key>PROJECT_ID</key>
	<string>unipick-1b5ed</string>
	<key>STORAGE_BUCKET</key>
	<string>unipick-1b5ed.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479405296471:ios:3c52e9896ef24a9bad0c12</string>
</dict>
</plist>